/* New buttons on home page */
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

form {
  text-align: center;
  margin-top: 50px;
}

input {
  padding: 8px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
